:root {
    --storyteller-colors-primary: #1C62EB;
    --storyteller-colors-success: #3bb327;
    --storyteller-colors-alert: #e21219;
    --storyteller-colors-white-primary: #ffffff;
    --storyteller-colors-white-secondary: #ffffffD9;
    --storyteller-colors-white-tertiary: #ffffffB3;
    --storyteller-colors-black-primary: #1a1a1a;
    --storyteller-colors-black-secondary: #1a1a1aD9;
    --storyteller-colors-black-tertiary: #1a1a1aB3;
    --storyteller-font: inherit;
    --storyteller-primitives-corner-radius: 4px;
    --storyteller-row-tile-spacing: 8px;
    --storyteller-row-start-inset: 12px;
    --storyteller-row-end-inset: 12px;
    --storyteller-scroll-indicator-background: white;
    --storyteller-scroll-indicator-color: rgba(26, 26, 26, 0.7);
    --storyteller-grid-tile-spacing: 8px;
    --storyteller-grid-top-inset: 12px;
    --storyteller-grid-bottom-inset: 12px;
    --storyteller-grid-start-inset: 16px;
    --storyteller-grid-end-inset: 16px;
    --storyteller-lists-background-color: #1a1a1a;
    --storyteller-tile-chip-text-size: 11px;
    --storyteller-tile-title-text-size: 11px;
    --storyteller-tile-title-line-height: 13px;
    --storyteller-tile-title-alignment: center;
    --storyteller-tile-title-font-weight: 700;
    --storyteller-circular-live-chip-unread-background-color: #e21219;
    --storyteller-circular-live-chip-read-background-color: #1a1a1aB3;
    --storyteller-circular-live-chip-read-text-color: #ffffff;
    --storyteller-circular-live-chip-unread-text-color: #ffffff;
    --storyteller-circular-title-read-text-color: #ffffffB3;
    --storyteller-circular-title-unread-text-color: #ffffff;
    --storyteller-circular-unread-indicator-color: #1C62EB;
    --storyteller-circular-read-indicator-color: #C5C5C5;
    --storyteller-circular-tile-unread-stroke-width: 2;
    --storyteller-circular-tile-read-stroke-width: 1;
    --storyteller-rectangular-chip-alignment: end;
    --storyteller-rectangular-live-chip-unread-background-color: #e21219;
    --storyteller-rectangular-live-chip-read-background-color: #1a1a1aB3;
    --storyteller-rectangular-live-chip-read-text-color: #ffffff;
    --storyteller-rectangular-live-chip-unread-text-color: #ffffff;
    --storyteller-rectangular-tile-padding: 8px;
    --storyteller-rectangular-unread-indicator-background-color: #1C62EB;
    --storyteller-rectangular-unread-indicator-text-color: #ffffff;
    --storyteller-rectangular-title-color: #ffffff;
    --storyteller-button-background-color: #ffffff;
    --storyteller-button-text-color: #1a1a1a;
    --storyteller-button-text-case: none;
    --storyteller-button-corner-radius: 4px;
    --storyteller-instructions-heading-color: #ffffff;
    --storyteller-instructions-subheading-color: #ffffffD9;
    --storyteller-instructions-background-color: #1a1a1a;
    --storyteller-instructions-button-text-color: #1a1a1a;
    --storyteller-instructions-button-background-color: #ffffff;
    --storyteller-poll-answer-text-color: #1a1a1a;
    --storyteller-poll-percent-bar-color: #CDD0DC;
    --storyteller-poll-selected-answer-border-color: #ffffffB3;
    --storyteller-poll-answered-message-text-color: #ffffffB3;
    --storyteller-quiz-correct-color: #3bb327;
    --storyteller-quiz-incorrect-color: #e21219;  
}